#root{
    padding: 0;
}


html,body {
    background-color: #f0eee2; 
    height: 100%;
    margin: 0;  /* Elimina cualquier margen que pueda causar desplazamiento */
    width: 100%;
    overflow: hidden; /* Esto deshabilita el scroll */
  }


#homeSection{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    height: 99vh;
    width: 100%;
    gap: 10%;
}

#encabezadoHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#encabezadoHome h1{
    color: #3b6695;
    font-size: 10vh; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 1000; 
    font-style: italic; 
}

#encabezadoHome h3{
    color: #0d7692;
    padding-top: 2%;
    font-weight: 550;
    font-size: 2vh; 

}

#homeForm{
    padding-top: 4%;
}

#logoUma{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.water h2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center; 
    height: 15%; 
    width: fit-content;
    font-size: 4.5vh;
    color: antiquewhite;
  }

  .link-button {
    display: inline-block;
    margin: 1.5% 10px; /* Espaciado vertical y horizontal */
    padding: 10px 20px;
    background-color: #3b6695; /* Azul principal */
    color: #ffffff; /* Color del texto */
    font-size: 1.5vh;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    flex: 1; /* Se expanden para ocupar el mismo espacio */
    max-width: 200px; /* Máximo ancho de cada botón */
    text-align: center;
}

.link-button:hover {
    background-color: #589ed7; /* Azul más claro en hover */
    color: #f0f0f0;
    border-color: #3b6695; /* Borde al hacer hover */
    cursor: pointer;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.link-button:active {
    background-color: #2a4d73; /* Azul más oscuro cuando se hace clic */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px); /* Efecto de hundimiento al hacer clic */
}

.homeButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; /* Aseguramos que el contenedor ocupe el 100% */
    gap: 10px; /* Separación entre botones */
}

@media (max-width: 768px) { /* Estilos responsivos para pantallas pequeñas */
    .homeButtons {
        flex-direction: column; /* Los botones se apilan en pantallas pequeñas */
    }

    .link-button {
        width: 80%; /* Ocupan el 80% del ancho en pantallas pequeñas */
        max-width: none; /* Deshabilitamos el máximo ancho en pantallas pequeñas */
    }

    #homeSection{
        justify-content: center;
        gap: 5%;
    }

}